.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 10px;
}

.modal-content {
  background: var(--card-bg-color, white);
  padding: 1rem;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.modal-header {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  padding: 10px;
  display: flex;
  gap: 10px;
}

.modal-body {
  flex: 1;
}

.map-container {
  width: 100%;
  height: 100%;
  min-height: 320px;
  min-width: 320px;
  box-sizing: border-box;
}
