:root {
  --text-color: rgba(255, 255, 255, 0.87);
  --bg-color: #2b3544;

  --link-color: #646cff;
  --link-hover-color: #535bf2;

  --button-border-color: transparent;
  --button-bg-color: #1a1a1a;
  --button-hover-bg: #646cff;

  --card-bg-color: #344055;

  line-height: 1.5;
  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--bg-color);

  /*font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;*/
  font-family: "Google Sans Flex", "Google Sans", "Helvetica Neue", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  height: 100%;
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--link-hover-color);
}

button {
  border-radius: 9999px;
  border: 1px solid var(--button-border-color);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-bg-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--button-hover-bg);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #2b3544;
    --bg-color: #f0f4f8;

    --link-color: #747bff;
    --button-bg-color: #ffffff;
    --button-border-color: #ccdeee;

    --card-bg-color: #f0f4f8;
  }
}

.error {
  color: red;
}
